{% extends 'base.html' %}
{% block menu %}
    <li class="nav-item">
      <a class="nav-link active" href="{% url 'update' pull.pk %}">Update</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="{% url 'choice_add' pull.pk %}">Add option</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="{%url 'delete' pull.pk%}">Delete</a>
    </li>
{% endblock %}
{% block content %}
{% csrf_token %}

    <h1>Information:</h1><br>
    <p><b>Title:</b> {{  pull.survey }}</p>
    <br><br><h3>Options:</h3><br/>
    <p>{% for o in pull.pull.all %}</p>
        <hr>
            <h2>{{ o.option }}</h2>
        <br>
        <a href="{% url 'choice_update' o.pk %}" class="px-1 fs-1"><i class="bi bi-pencil-square"></i></a>
        <a href="{% url 'choice_delete' o.pk %}" class="px-1 fs-1"><i class="bi bi-trash-fill"></i></a>
        {% if not forloop.last %}<br><br> {% endif %}
    <p>{% endfor %}</p>

    <a class="btn btn-primary" href="{% url 'answer_option' pull.pk%}" role="button">Answer</a>
{% endblock %}